/* 1. Fonts
======================================== */

@import url('https://fonts.googleapis.com/css2?family=Lato&family=Roboto:wght@300;400;500&display=swap');

/* 2. Global Styles
======================================== */
a{
    text-decoration: none;
}

body{
    background-color: #f8f6f6;
    color: #707070;
}

.App{
    margin: 3rem 18vw;
}

h1{
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    letter-spacing: -1.5px;
    font-size: 48px;
}

h2{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    letter-spacing: 0px;
    font-size: 36px;
}

h3{
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    letter-spacing: 0.15px;
    font-size: 28px;
}

p{
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    letter-spacing: 0.15px;
    font-size: 17px;
}

main{
    display: grid;
}

/* 3. Components
======================================== */

/*===============Navigation============= */
nav li{
    display: inline-flex;
    justify-self: center;
    margin: 0 2rem;

    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    letter-spacing: 0.15px;
    font-size: 20px;
    text-transform: uppercase;
}

nav ul{
    padding: 0;
}

nav a {
    text-decoration: none;
    color: #707070;
}

nav{
    display: grid;
    justify-content: space-around;
}

/*===============article-form============= */
.article-form{
    justify-self: center;
    width: 50vw;
    display: grid;
}

.article-form textarea{
    resize: none;
    padding: 1rem;

    font-family: 'Lato', sans-serif;
    font-weight: 400;
    letter-spacing: 0.15px;
    font-size: 17px;
    height: 30vh;
}

.article-form select, .article-form button, .button{
    text-align: center;
    padding: 0.5rem;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    letter-spacing: 0.15px;
    font-size: 20px;
    text-transform: uppercase;
}

.article-form input{
  padding: 0.5rem;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  letter-spacing: 0.15px;
  font-size: 20px;
}

.button{
    border: none;
    cursor: pointer;
}

.article-form-list li{
    display: block;
}

.article-form-list input{
    width: 30vw;
    text-align: left;
    
    text-transform: none;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    letter-spacing: 0.15px;
    font-size: 17px;

}

/*===============ARTICLE============= */
article{
    display: grid;
    margin: 5rem 0;
}

article h1{
    margin: 0 0 15px 0;
}

article h2{
    margin: 0 0 15px 0;
}

article h3{
    margin: 0 0 15px 0;
}

article p{
    margin: 0 0 15px 0;
}

article ul{
    margin: 0 0 15px 0;
}

article img{
    max-height: 50vh;
    width: 100%;
    object-fit: contain;
}

/*===============AUTH============= */
.auth{
    display: grid;
    justify-content: center;
    align-items: center;
    height: 100vh
}

.auth form{
    margin-bottom: 10vh;
    display: grid;
    width: 30vw;
}

.auth input{
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    letter-spacing: 0.15px;
    font-size: 20px;
    padding: 0.5rem;
    cursor: pointer;
}

/* 3. Colors
======================================== */

.warning{
    background-color: #8c0032;
    color: rgb(235, 235, 235);
    border: none;
}

.primary{
    background-color: #8052c6;
    color: rgb(235, 235, 235);
    border: none;
}

.standard{
    background-color: #ebebeb;
    border: 1px solid rgb(56, 56, 56);
    color: rgb(56, 56, 56);
}