@use './MyTemplate.scss' as t;


main{
    grid-template-columns: 1fr;
}

button{
    border: 1px solid #333;
}

.element{
    padding: 1rem;
    border: 1px solid #333;
    display: grid;
    justify-content: center;
    justify-items: center;
    width: 100%;
}

.articles{
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    align-items: center;
    text-shadow: t.$text-shadow;
    h3{
        font-size: 1.5rem;
        line-height: 1.8rem;
    }
    a:hover{
        filter:none;
    }
}